.gitattributes linguist-generated=true
src/archetypes/annotation_context.rs linguist-generated=true
src/archetypes/arrows3d.rs linguist-generated=true
src/archetypes/disconnected_space.rs linguist-generated=true
src/archetypes/line_strips2d.rs linguist-generated=true
src/archetypes/line_strips3d.rs linguist-generated=true
src/archetypes/mod.rs linguist-generated=true
src/archetypes/points2d.rs linguist-generated=true
src/archetypes/points3d.rs linguist-generated=true
src/archetypes/transform3d.rs linguist-generated=true
src/components/annotation_context.rs linguist-generated=true
src/components/class_id.rs linguist-generated=true
src/components/color.rs linguist-generated=true
src/components/disconnected_space.rs linguist-generated=true
src/components/draw_order.rs linguist-generated=true
src/components/instance_key.rs linguist-generated=true
src/components/keypoint_id.rs linguist-generated=true
src/components/label.rs linguist-generated=true
src/components/line_strip2d.rs linguist-generated=true
src/components/line_strip3d.rs linguist-generated=true
src/components/mod.rs linguist-generated=true
src/components/origin3d.rs linguist-generated=true
src/components/point2d.rs linguist-generated=true
src/components/point3d.rs linguist-generated=true
src/components/radius.rs linguist-generated=true
src/components/transform3d.rs linguist-generated=true
src/components/vector3d.rs linguist-generated=true
src/datatypes/angle.rs linguist-generated=true
src/datatypes/annotation_info.rs linguist-generated=true
src/datatypes/class_description.rs linguist-generated=true
src/datatypes/class_description_map_elem.rs linguist-generated=true
src/datatypes/class_id.rs linguist-generated=true
src/datatypes/color.rs linguist-generated=true
src/datatypes/keypoint_id.rs linguist-generated=true
src/datatypes/keypoint_pair.rs linguist-generated=true
src/datatypes/label.rs linguist-generated=true
src/datatypes/mat3x3.rs linguist-generated=true
src/datatypes/mat4x4.rs linguist-generated=true
src/datatypes/mod.rs linguist-generated=true
src/datatypes/quaternion.rs linguist-generated=true
src/datatypes/rotation3d.rs linguist-generated=true
src/datatypes/rotation_axis_angle.rs linguist-generated=true
src/datatypes/scale3d.rs linguist-generated=true
src/datatypes/transform3d.rs linguist-generated=true
src/datatypes/translation_and_mat3x3.rs linguist-generated=true
src/datatypes/translation_rotation_scale3d.rs linguist-generated=true
src/datatypes/vec2d.rs linguist-generated=true
src/datatypes/vec3d.rs linguist-generated=true
src/datatypes/vec4d.rs linguist-generated=true
src/testing/archetypes/fuzzy.rs linguist-generated=true
src/testing/archetypes/mod.rs linguist-generated=true
src/testing/components/fuzzy.rs linguist-generated=true
src/testing/components/mod.rs linguist-generated=true
src/testing/datatypes/fuzzy.rs linguist-generated=true
src/testing/datatypes/fuzzy_deps.rs linguist-generated=true
src/testing/datatypes/mod.rs linguist-generated=true
