<!DOCTYPE html>
<!-- The version of index.html that will be served by demo.rerun.io -->
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- Disable zooming: -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

  <head>
    <link rel="icon" href="favicon.svg" />
    <title>Rerun Viewer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <!-- The Wasm code will resize the canvas dynamically -->
    <canvas id="the_canvas_id"></canvas>
    <div class="centered" id="mobile_text" style="visibility: hidden">
      <p style="font-size: 16px">Rerun is not yet supported on mobile browsers.</p>
      <p style="font-size: 16px">
        <a href="#" class="button" id="try_anyways">Try anyways</a>
      </p>
    </div>
    <div class="centered" id="center_text">
      <p style="font-size: 16px">Loading…</p>
      <div class="lds-dual-ring"></div>
    </div>
    <div class="header" id="header_bar">
      <div class="examples">
        <div class="dropdown" id="examples">
          <div class="dropdown-title">
            Examples
            <img class="icon" src="caret-down.svg" />
          </div>
          <div class="dropdown-body">
            {% for entry in examples %}
            <a class="flat-link" href="../{{ entry.name }}">
              <div class="dropdown-entry" data-link="{{ entry.name }}">{{ entry.title }}</div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="example-description">
        <div class="example-description-icon">?</div>
        <div class="example-description-body">{{ example.description }}</div>
      </div>
      <a class="icon-link" href="{{ example.source_url }}" target="_blank">
        <img class="icon" src="github-mark-white.svg" />
      </a>
    </div>

    <script
      src="https://fifteen-thirtyeight.rerun.io/script.js"
      data-site="QKMCQFTQ"
      defer
    ></script>

    <script>
      // The `--no-modules`-generated JS from `wasm-bindgen` attempts to use
      // `WebAssembly.instantiateStreaming` to instantiate the wasm module,
      // but this doesn't work with `file://` urls. This example is frequently
      // viewed by simply opening `index.html` in a browser (with a `file://`
      // url), so it would fail if we were to call this function!
      //
      // Work around this for now by deleting the function to ensure that the
      // `no_modules.js` script doesn't have access to it. You won't need this
      // hack when deploying over HTTP.
      if (window.location.protocol.startsWith("file")) {
        delete WebAssembly.instantiateStreaming;
      }

      // always strip `index.html` from the url, so that relative paths in links to examples work
      const index_html_pos = window.location.pathname.indexOf("index.html");
      if (index_html_pos !== -1) {
        window.location.href = window.location.pathname.slice(0, index_html_pos);
      }
    </script>

    <!-- this is the JS generated by the `wasm-bindgen` CLI tool -->
    <script src="re_viewer.js"></script>

    <script src="index.js"></script>
  </body>
</html>

<!-- Powered by egui: https://github.com/emilk/egui/ -->

