-r api_demo/requirements.txt
-r arkitscenes/requirements.txt
-r blueprint/requirements.txt
-r car/requirements.txt
-r clock/requirements.txt
-r colmap/requirements.txt
-r deep_sdf/requirements.txt
-r dicom/requirements.txt
-r dna/requirements.txt
-r minimal/requirements.txt
-r minimal_options/requirements.txt
-r mp_pose/requirements.txt
-r multiprocessing/requirements.txt
-r multithreading/requirements.txt
-r notebook/requirements.txt
-r nyud/requirements.txt
-r objectron/requirements.txt
-r opencv_canny/requirements.txt
-r plots/requirements.txt
-r raw_mesh/requirements.txt
-r ros/requirements.txt
-r segment_anything/requirements.txt
-r stable_diffusion/requirements.txt
-r text_logging/requirements.txt
-r tracking_hf_opencv/requirements.txt
