-r arkit_scenes/requirements.txt
-r blueprint/requirements.txt
-r car/requirements.txt
-r clock/requirements.txt
-r controlnet/requirements.txt
-r depth_guided_stable_diffusion/requirements.txt
-r detect_and_track_objects/requirements.txt
-r dicom_mri/requirements.txt
-r dna/requirements.txt
-r face_tracking/requirements.txt
-r human_pose_tracking/requirements.txt
-r lidar/requirements.txt
-r live_camera_edge_detection/requirements.txt
-r live_depth_sensor/requirements.txt
-r llm_embedding_ner/requirements.txt
-r minimal/requirements.txt
-r minimal_options/requirements.txt
-r multiprocessing/requirements.txt
-r multithreading/requirements.txt
-r notebook/requirements.txt
-r nuscenes/requirements.txt
-r nv12/requirements.txt
-r objectron/requirements.txt
-r open_photogrammetry_format/requirements.txt
-r plots/requirements.txt
-r raw_mesh/requirements.txt
-r rgbd/requirements.txt
-r ros_node/requirements.txt
-r segment_anything_model/requirements.txt
-r shared_recording/requirements.txt
-r signed_distance_fields/requirements.txt
-r stdio/requirements.txt
-r structure_from_motion/requirements.txt
-r template/requirements.txt
