# Enable isolated extension usages (required for gazelle)
build --experimental_isolated_extension_usages

# Usage: bazel build --config=clippy //target
build:clippy --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
build:clippy --output_groups=+clippy_checks

# Usage: bazel build --config=rustfmt //target
build:rustfmt --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect
build:rustfmt --output_groups=+rustfmt_checks
