[*.ron]
indent_style = space
indent_size = 2
tab_width = 2

# keep in sync with `taplo.toml`
[*.toml]
indent_style = space
indent_size = 2
tab_width = 2

[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2
tab_width = 2
