* text=auto eol=lf
*.zip -text diff
Cargo.lock linguist-generated=false
pixi.lock linguist-generated=true
# git-lfs:
**/*.urdf filter=lfs diff=lfs merge=lfs -text
**/*.stl filter=lfs diff=lfs merge=lfs -text
**/*.STL filter=lfs diff=lfs merge=lfs -text
**/*.mcap filter=lfs diff=lfs merge=lfs -text
**/snapshots/**/*.png filter=lfs diff=lfs merge=lfs -text
**/*.h264 filter=lfs diff=lfs merge=lfs -text
**/*.mp4 filter=lfs diff=lfs merge=lfs -text
examples/assets/example.rrd filter=lfs diff=lfs merge=lfs -text
