.DS_Store

# Rust compile target directory:
**/target
**/target_wasm

# Python virtual environment:
/venv

# Python build artifacts:
__pycache__
*.pyc
*.so

.gdb_history
perf.data*

chrome_profiler.json
profiles/

*.rrd
