{
  "semi": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.js",
      "options": {
        "semi": true,
        "tabWidth": 4
      }
    },
    {
      "files": "*.css",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
