.gitattributes linguist-generated=true
archetypes/affix_fuzzer1.cpp linguist-generated=true
archetypes/affix_fuzzer1.hpp linguist-generated=true
archetypes/annotation_context.cpp linguist-generated=true
archetypes/annotation_context.hpp linguist-generated=true
archetypes/arrows3d.cpp linguist-generated=true
archetypes/arrows3d.hpp linguist-generated=true
archetypes/disconnected_space.cpp linguist-generated=true
archetypes/disconnected_space.hpp linguist-generated=true
archetypes/line_strips2d.cpp linguist-generated=true
archetypes/line_strips2d.hpp linguist-generated=true
archetypes/line_strips3d.cpp linguist-generated=true
archetypes/line_strips3d.hpp linguist-generated=true
archetypes/points2d.cpp linguist-generated=true
archetypes/points2d.hpp linguist-generated=true
archetypes/points3d.cpp linguist-generated=true
archetypes/points3d.hpp linguist-generated=true
archetypes/transform3d.cpp linguist-generated=true
archetypes/transform3d.hpp linguist-generated=true
archetypes.hpp linguist-generated=true
components/affix_fuzzer1.cpp linguist-generated=true
components/affix_fuzzer1.hpp linguist-generated=true
components/affix_fuzzer10.cpp linguist-generated=true
components/affix_fuzzer10.hpp linguist-generated=true
components/affix_fuzzer11.cpp linguist-generated=true
components/affix_fuzzer11.hpp linguist-generated=true
components/affix_fuzzer12.cpp linguist-generated=true
components/affix_fuzzer12.hpp linguist-generated=true
components/affix_fuzzer13.cpp linguist-generated=true
components/affix_fuzzer13.hpp linguist-generated=true
components/affix_fuzzer14.cpp linguist-generated=true
components/affix_fuzzer14.hpp linguist-generated=true
components/affix_fuzzer15.cpp linguist-generated=true
components/affix_fuzzer15.hpp linguist-generated=true
components/affix_fuzzer16.cpp linguist-generated=true
components/affix_fuzzer16.hpp linguist-generated=true
components/affix_fuzzer17.cpp linguist-generated=true
components/affix_fuzzer17.hpp linguist-generated=true
components/affix_fuzzer18.cpp linguist-generated=true
components/affix_fuzzer18.hpp linguist-generated=true
components/affix_fuzzer19.cpp linguist-generated=true
components/affix_fuzzer19.hpp linguist-generated=true
components/affix_fuzzer2.cpp linguist-generated=true
components/affix_fuzzer2.hpp linguist-generated=true
components/affix_fuzzer20.cpp linguist-generated=true
components/affix_fuzzer20.hpp linguist-generated=true
components/affix_fuzzer3.cpp linguist-generated=true
components/affix_fuzzer3.hpp linguist-generated=true
components/affix_fuzzer4.cpp linguist-generated=true
components/affix_fuzzer4.hpp linguist-generated=true
components/affix_fuzzer5.cpp linguist-generated=true
components/affix_fuzzer5.hpp linguist-generated=true
components/affix_fuzzer6.cpp linguist-generated=true
components/affix_fuzzer6.hpp linguist-generated=true
components/affix_fuzzer7.cpp linguist-generated=true
components/affix_fuzzer7.hpp linguist-generated=true
components/affix_fuzzer8.cpp linguist-generated=true
components/affix_fuzzer8.hpp linguist-generated=true
components/affix_fuzzer9.cpp linguist-generated=true
components/affix_fuzzer9.hpp linguist-generated=true
components/annotation_context.cpp linguist-generated=true
components/annotation_context.hpp linguist-generated=true
components/class_id.cpp linguist-generated=true
components/class_id.hpp linguist-generated=true
components/color.cpp linguist-generated=true
components/color.hpp linguist-generated=true
components/disconnected_space.cpp linguist-generated=true
components/disconnected_space.hpp linguist-generated=true
components/draw_order.cpp linguist-generated=true
components/draw_order.hpp linguist-generated=true
components/instance_key.cpp linguist-generated=true
components/instance_key.hpp linguist-generated=true
components/keypoint_id.cpp linguist-generated=true
components/keypoint_id.hpp linguist-generated=true
components/label.cpp linguist-generated=true
components/label.hpp linguist-generated=true
components/line_strip2d.cpp linguist-generated=true
components/line_strip2d.hpp linguist-generated=true
components/line_strip3d.cpp linguist-generated=true
components/line_strip3d.hpp linguist-generated=true
components/origin3d.cpp linguist-generated=true
components/origin3d.hpp linguist-generated=true
components/point2d.cpp linguist-generated=true
components/point2d.hpp linguist-generated=true
components/point3d.cpp linguist-generated=true
components/point3d.hpp linguist-generated=true
components/radius.cpp linguist-generated=true
components/radius.hpp linguist-generated=true
components/transform3d.cpp linguist-generated=true
components/transform3d.hpp linguist-generated=true
components/vector3d.cpp linguist-generated=true
components/vector3d.hpp linguist-generated=true
components.hpp linguist-generated=true
datatypes/affix_fuzzer1.cpp linguist-generated=true
datatypes/affix_fuzzer1.hpp linguist-generated=true
datatypes/affix_fuzzer2.cpp linguist-generated=true
datatypes/affix_fuzzer2.hpp linguist-generated=true
datatypes/affix_fuzzer20.cpp linguist-generated=true
datatypes/affix_fuzzer20.hpp linguist-generated=true
datatypes/affix_fuzzer3.cpp linguist-generated=true
datatypes/affix_fuzzer3.hpp linguist-generated=true
datatypes/affix_fuzzer4.cpp linguist-generated=true
datatypes/affix_fuzzer4.hpp linguist-generated=true
datatypes/affix_fuzzer5.cpp linguist-generated=true
datatypes/affix_fuzzer5.hpp linguist-generated=true
datatypes/angle.cpp linguist-generated=true
datatypes/angle.hpp linguist-generated=true
datatypes/annotation_info.cpp linguist-generated=true
datatypes/annotation_info.hpp linguist-generated=true
datatypes/class_description.cpp linguist-generated=true
datatypes/class_description.hpp linguist-generated=true
datatypes/class_description_map_elem.cpp linguist-generated=true
datatypes/class_description_map_elem.hpp linguist-generated=true
datatypes/class_id.cpp linguist-generated=true
datatypes/class_id.hpp linguist-generated=true
datatypes/color.cpp linguist-generated=true
datatypes/color.hpp linguist-generated=true
datatypes/flattened_scalar.cpp linguist-generated=true
datatypes/flattened_scalar.hpp linguist-generated=true
datatypes/keypoint_id.cpp linguist-generated=true
datatypes/keypoint_id.hpp linguist-generated=true
datatypes/keypoint_pair.cpp linguist-generated=true
datatypes/keypoint_pair.hpp linguist-generated=true
datatypes/label.cpp linguist-generated=true
datatypes/label.hpp linguist-generated=true
datatypes/mat3x3.cpp linguist-generated=true
datatypes/mat3x3.hpp linguist-generated=true
datatypes/mat4x4.cpp linguist-generated=true
datatypes/mat4x4.hpp linguist-generated=true
datatypes/primitive_component.cpp linguist-generated=true
datatypes/primitive_component.hpp linguist-generated=true
datatypes/quaternion.cpp linguist-generated=true
datatypes/quaternion.hpp linguist-generated=true
datatypes/rotation3d.cpp linguist-generated=true
datatypes/rotation3d.hpp linguist-generated=true
datatypes/rotation_axis_angle.cpp linguist-generated=true
datatypes/rotation_axis_angle.hpp linguist-generated=true
datatypes/scale3d.cpp linguist-generated=true
datatypes/scale3d.hpp linguist-generated=true
datatypes/string_component.cpp linguist-generated=true
datatypes/string_component.hpp linguist-generated=true
datatypes/transform3d.cpp linguist-generated=true
datatypes/transform3d.hpp linguist-generated=true
datatypes/translation_and_mat3x3.cpp linguist-generated=true
datatypes/translation_and_mat3x3.hpp linguist-generated=true
datatypes/translation_rotation_scale3d.cpp linguist-generated=true
datatypes/translation_rotation_scale3d.hpp linguist-generated=true
datatypes/vec2d.cpp linguist-generated=true
datatypes/vec2d.hpp linguist-generated=true
datatypes/vec3d.cpp linguist-generated=true
datatypes/vec3d.hpp linguist-generated=true
datatypes/vec4d.cpp linguist-generated=true
datatypes/vec4d.hpp linguist-generated=true
datatypes.hpp linguist-generated=true
