-e git+https://github.com/facebookresearch/segment-anything.git#egg=segment-anything
numpy
opencv-python
requests>=2.31,<3
rerun-sdk
#TODO(#4704): clean that up when pytorch is available for 3.12
torch ; python_version < "3.12"
torchvision ; python_version < "3.12"
tqdm
