attrs>=23.1.0  # for mypy to work
blackdoc==0.3.8
mypy==1.4.1
numpy>=1.23,<2 # For mypy plugin
#TODO(#4704): clean that up when pytorch is available for 3.12
torch>=2.0.1 ; python_version < "3.12"
pip-check-reqs==2.4.4 # Checks for missing deps in requirements.txt files
pytest  # For mypy to work
ruff==0.1.2
types-Deprecated==1.2.9.2
types-requests>=2.31,<3
