mkdocs
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-material
mkdocs-material-extensions
mkdocs-redirects
mkdocstrings
mkdocstrings-python
mike
typing_extensions # uncaptured dep for mkdocstrings (https://github.com/mkdocstrings/mkdocstrings/issues/548)
