mkdocs
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-material
mkdocs-material-extensions
https://github.com/rerun-io/mkdocs-redirects/archive/v1.3.1.zip # forked mkdocs-redirects
mkdocstrings
mkdocstrings-python
mike
typing_extensions # uncaptured dep for mkdocstrings (https://github.com/mkdocstrings/mkdocstrings/issues/548)
