black==22.8.0
blackdoc==0.3.6
flake8-bugbear==22.8.23
flake8-comprehensions==3.10.0
flake8-docstrings==1.6.0
flake8-simplify==0.19.3
flake8-tidy-imports==4.8.0
flake8==5.0.4
isort==5.10.1
mypy==0.971
numpy==1.23 # For mypy plugin
pip-check-reqs==2.4.3 # Checks for missing deps in requirements.txt files
pyupgrade==2.37.3
types-requests==2.28.10
