attrs>=23.1.0  # for mypy to work
black==23.3.0
blackdoc==0.3.8
mypy==1.4.1
numpy>=1.24 # For mypy plugin
torch>=2.1.0
pip-check-reqs==2.4.4 # Checks for missing deps in requirements.txt files
pytest  # For mypy to work
ruff==0.0.292
types-Deprecated==1.2.9.2
types-requests>=2.31,<3
