html {
    /* Remove touch delay: */
    touch-action: manipulation;
}

body {
    background: #0d1011;
}

/* Allow canvas to fill entire web page: */
html,
body {
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

/* Position canvas in center-top: */
canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    /* canvas must be on top when visible */
    z-index: 1000;
}

* {
    font-family: "Inter", sans-serif;
    color: #cad8de;
}

/* Match the Rerun header bar. */
.header {
    width: 100%;
    height: 44px;
    /* Actual value from Rerun Viewer */
    background: #141414;
}

/* Create a container filling the remaining space. */
.container {
    position: absolute;
    height: calc(100vh - 44px);
    width: 100vw;
}

/* Centered div inside the container. */
.centered {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Rerun styling for normal text. */
p {
    /*Gray-775*/
    color: #cad8de;
    letter-spacing: -0.15px;
    font-weight: 500;
}

/* Rerun styling for strong text. Matches `TextStyle::Heading`. */
.strong {
    /*Gray-775*/
    color: #cad8de;
    /* Match current rerun header value */
    font-size: 16px;
}

/* Rerun styling for subdued text.*/
.subdued {
    /*Gray-550*/
    color: #7d8c92;
    /* Larger subdued size to match current rerun font */
    font-size: 12px;
    letter-spacing: -0.12px;
}

pre {
    /*Gray-550*/
    color: #7d8c92;
    font-size: 10px;
    letter-spacing: -0.12px;
}

a .button {
    display: inline-block;
    background: white;
    color: black;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
}

/* Transition to hidden */
.hidden {
    opacity: 0;
    transition: opacity 0.2s ease-out;
    visibility: hidden;
}

/* Transition to visible */
.visible {
    opacity: 100;
    transition: opacity 0.2s ease-in;
    visibility: visible;
}

.demo_header {
    z-index: 1100;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    height: 44px;

    display: flex;
    flex-direction: row;
    gap: 4px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-select {
    user-select: none;
}

.examples {
    position: relative;
    top: 11px;
}

.example-description {
    margin-top: 6px;
    height: 40px;
    border: none;
    border-radius: 33%;
}

.example-description:hover > .example-description-body {
    display: flex;
}

.example-description:hover > .example-description-icon {
    background: #404040;
    border: none;
    border-radius: 5px;
}

.example-description-icon {
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 2px;
    width: 20px;
    height: 20px;
    user-select: none;
}

.example-description-body {
    display: none;

    flex-direction: column;
    gap: 8px;

    position: absolute;
    top: 100%;

    background: #262626;
    border: none;
    border-radius: 6px;
    padding: 12px;

    font-size: 13px;
    line-height: 1.33;
    letter-spacing: 0;

    width: 280px;
}

.example-description-body > p {
    margin: 0;
}

a.icon-link {
    margin: 5px;
    padding: 5px;
    width: 24.5px;
    height: 24px;
}

a.icon-link:hover {
    background: #404040;
    border: none;
    border-radius: 50%;
}

img.icon {
    max-height: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-title {
    display: flex;
    gap: 2px;
    user-select: none;
    cursor: pointer;

    background: #141414;
    border: none;
    border-radius: 6px;
    padding: 2px 5px 2px 8px;

    font-style: normal;
    font-weight: 435;
    font-size: 14px;
    line-height: 16px;
}

.dropdown-title > img {
    width: 16px;
    height: 16px;
}

.dropdown-title:hover {
    background: #404040;
}

.dropdown-title:active {
    background: #404040;
}

.dropdown-body {
    display: none;

    flex-direction: column;
    gap: 3px;

    position: absolute;
    top: 100%;
    left: 0;

    background: #262626;
    border: none;
    border-radius: 6px;
    padding: 6px;

    user-select: none;
    font-size: 12px;
}

.dropdown-body.visible {
    display: flex;
}

.dropdown-entry {
    padding: 2px 5px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown-entry:hover {
    background: #404040;
}

a.flat-link {
    text-decoration: none;
}

.centered {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #cad8de;
    font-size: 24px;
    font-family: Ubuntu-Light, Helvetica, sans-serif;
    text-align: center;
}

a.button {
    display: inline-block;
    background: white;
    color: black;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
}
