
-r ../../rerun_py/requirements-build.txt
-r ../../rerun_py/requirements-doc.txt
-r ../../rerun_py/requirements-lint.txt
-r ./requirements-crates.txt

Jinja2==3.1.2
Pillow==10.0.0
PyGithub==1.59.0
GitPython==3.1.37
aiohttp==3.8.5
colorama==0.4.6
gitignore-parser==0.1.4
google-cloud-storage==2.9.0
packaging==23.1
requests>=2.31,<3
tomlkit==0.11.8
