numpy
opencv-contrib-python>4.6 # Avoid opencv-4.6 since it rotates images incorrectly (https://github.com/opencv/opencv/issues/22088)
opencv-python>4.6 # Avoid opencv-4.6 since it rotates images incorrectly (https://github.com/opencv/opencv/issues/22088)
pillow
requests>=2.31,<3
rerun-sdk
timm==0.9.11
#TODO(#4704): clean that up when pytorch is available for 3.12
torch>=1.13.0 ; python_version < "3.12"
transformers
