-r api_demo/requirements.txt
-r car/requirements.txt
-r colmap/requirements.txt
-r deep_sdf/requirements.txt
-r dicom/requirements.txt
-r hello_world/requirements.txt
-r mp_pose/requirements.txt
-r nyud/requirements.txt
-r objectron/requirements.txt
-r raw_mesh/requirements.txt
-r stable_diffusion/requirements.txt
-r tracking_hf_opencv/requirements.txt
