.rerun_notebook {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent !important;
}

.rerun_notebook > div {
  margin: 0;
  padding: 0;
  background: transparent !important;
}

div.cell-output-ipywidget-background {
  margin: 0;
  padding: 0;
  background: transparent !important;
}
