accelerate
ftfy
pillow
requests==2.28.1
scipy
torch>=1.13.0

# Depth Guided Stable Diffusion requres commits not yet present in
# the versions of transformers and diffusers released by December 23rd 2022
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/diffusers.git
