.gitattributes linguist-generated=true
__init__.py linguist-generated=true
archetypes/__init__.py linguist-generated=true
archetypes/fuzzy.py linguist-generated=true
archetypes/points2d.py linguist-generated=true
archetypes/points3d.py linguist-generated=true
archetypes/transform3d.py linguist-generated=true
components/__init__.py linguist-generated=true
components/class_id.py linguist-generated=true
components/color.py linguist-generated=true
components/draw_order.py linguist-generated=true
components/fuzzy.py linguist-generated=true
components/instance_key.py linguist-generated=true
components/keypoint_id.py linguist-generated=true
components/label.py linguist-generated=true
components/point2d.py linguist-generated=true
components/point3d.py linguist-generated=true
components/radius.py linguist-generated=true
components/transform3d.py linguist-generated=true
datatypes/__init__.py linguist-generated=true
datatypes/angle.py linguist-generated=true
datatypes/fuzzy.py linguist-generated=true
datatypes/mat3x3.py linguist-generated=true
datatypes/mat4x4.py linguist-generated=true
datatypes/point2d.py linguist-generated=true
datatypes/point3d.py linguist-generated=true
datatypes/quaternion.py linguist-generated=true
datatypes/rotation3d.py linguist-generated=true
datatypes/rotation_axis_angle.py linguist-generated=true
datatypes/scale3d.py linguist-generated=true
datatypes/transform3d.py linguist-generated=true
datatypes/translation_and_mat3x3.py linguist-generated=true
datatypes/translation_rotation_scale3d.py linguist-generated=true
datatypes/vec2d.py linguist-generated=true
datatypes/vec3d.py linguist-generated=true
datatypes/vec4d.py linguist-generated=true
